---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1123699
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ffca6510d62705b4a60eb91500acb048"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
    body:
      encoding: UTF-8
      string: '{"id":1123699,"description":"This repo is for demonstration purposes
        only.","default_branch":"master","tag_list":[],"public":true,"archived":false,"visibility_level":20,"ssh_url_to_repo":"git@gitlab.com:kylemacey/Spoon-Knife.git","http_url_to_repo":"https://gitlab.com/kylemacey/Spoon-Knife.git","web_url":"https://gitlab.com/kylemacey/Spoon-Knife","owner":{"id":414903,"name":"Kyle
        Macey","username":"kylemacey","state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80&d=identicon","web_url":"https://gitlab.com/kylemacey"},"name":"Spoon-Knife","name_with_namespace":"Kyle
        Macey / Spoon-Knife","path":"Spoon-Knife","path_with_namespace":"kylemacey/Spoon-Knife","resolve_outdated_diff_discussions":null,"container_registry_enabled":null,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":false,"builds_enabled":true,"snippets_enabled":false,"created_at":"2016-04-27T19:27:08.692Z","last_activity_at":"2016-07-08T18:36:12.673Z","shared_runners_enabled":true,"lfs_enabled":true,"creator_id":414903,"namespace":{"id":486715,"name":"kylemacey","path":"kylemacey","kind":"user","full_path":"kylemacey","parent_id":null,"plan":"early_adopter"},"avatar_url":null,"star_count":0,"forks_count":0,"open_issues_count":0,"runners_token":"SxNgdykKaW_4kzD5qvpE","public_builds":true,"shared_with_groups":[],"only_allow_merge_if_build_succeeds":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":null,"approvals_before_merge":0,"permissions":{"project_access":{"access_level":40,"notification_level":3},"group_access":null}}'
  recorded_at: Wed, 04 Oct 2017 21:45:47 GMT
recorded_with: VCR 3.0.3
