---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/issues/2192031
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b0c52c952ae5eb05dd9370e45cdfd638"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":2192031,"iid":5,"project_id":1169162,"title":"Don''t have a GitHub
        account","description":"I appreciate wanting to support logging in with GitHub
        but I don''t have a GitHub account and cannot legally sign up for one in my
        country due to my age unless I get my parents permission. See https://gitlab.com/Mouse-Hack/hugo-pages/issues/1
        for more details.","state":"opened","created_at":"2016-05-10T22:20:29.872Z","updated_at":"2016-05-11T17:24:31.417Z","labels":["Blocker","Bug"],"milestone":{"id":62677,"iid":1,"project_id":1169162,"title":"Prototype","description":"Just
        get the simplest thing working and out there for folks to try out.","state":"active","created_at":"2016-05-10T22:06:45.481Z","updated_at":"2016-05-10T22:06:45.481Z","due_date":"2020-04-20"},"assignee":{"name":"Kyle
        Macey","username":"kylemacey","id":414903,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/kylemacey"},"author":{"name":"Jon
        Magic","username":"jonmagic","id":529946,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/7064ad438246a02809c85bcd92cb5f3f?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/jonmagic"},"subscribed":true}'
  recorded_at: Wed, 11 May 2016 17:51:51 GMT
recorded_with: VCR 3.0.1
