---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/hooks/50703
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a9e94f9ba01c41723cb844723500596b"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":50703,"url":"http://requestb.in/1izuozf1","created_at":"2016-07-07T20:36:26.639Z","project_id":1169162,"push_events":true,"issues_events":false,"merge_requests_events":false,"tag_push_events":true,"note_events":true,"build_events":false,"enable_ssl_verification":true}'
  recorded_at: Thu, 07 Jul 2016 21:35:04 GMT
recorded_with: VCR 3.0.1
