---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/merge_requests/4385181
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f99090e3c860985ad68bbfae17eb55ce"
    body:
      encoding: UTF-8
      string: '{"id":4385181,"iid":10,"project_id":1169162,"title":"No commits in
        this MR","description":"","state":"opened","created_at":"2017-07-24T19:37:37.033Z","updated_at":"2017-07-24T19:37:37.033Z","target_branch":"master","source_branch":"no-commits","upvotes":0,"downvotes":0,"author":{"name":"my
        man","username":"my_man","id":1477621,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/00565f56cd9c1974f7d5f632ebd40ccb?s=80&d=identicon","web_url":"https://gitlab.com/my_man"},"assignee":null,"source_project_id":1169162,"target_project_id":1169162,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_build_succeeds":false,"merge_status":"cannot_be_merged","sha":"fc40f8230aab1a10e16c70b2706e2d2a6164eea0","merge_commit_sha":null,"subscribed":true,"user_notes_count":0,"approvals_before_merge":null,"should_remove_source_branch":null,"force_remove_source_branch":false,"squash":false,"web_url":"https://gitlab.com/Mouse-Hack/hugo-pages/merge_requests/10"}'
  recorded_at: Mon, 24 Jul 2017 22:01:26 GMT
recorded_with: VCR 3.0.3
