---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/issues/2192031/notes/11735615
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f49da78256347032a358c4272f1b9c02"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":11735615,"body":"It looks like https://gitlab.com/Mouse-Hack/hugo-pages/merge_requests/1
        has already :ship: ","attachment":null,"author":{"name":"Jon Magic","username":"jonmagic","id":529946,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/7064ad438246a02809c85bcd92cb5f3f?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/jonmagic"},"created_at":"2016-05-10T22:27:02.519Z","updated_at":"2016-05-10T22:27:02.519Z","system":false,"noteable_id":2192031,"noteable_type":"Issue","upvote":false,"downvote":false}'
  recorded_at: Wed, 11 May 2016 21:49:29 GMT
recorded_with: VCR 3.0.1
