---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/merge_requests/479769
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"050a57a37b316b8c1fe032a248f8fbef"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":479769,"iid":3,"project_id":1169162,"title":"Close this IMMEDIATELY","description":"![hubmojis-jglovier-angry](/uploads/b2dc4a70da2ae24bd6db89c16dbf0de9/hubmojis-jglovier-angry.gif)\r\n","state":"closed","created_at":"2016-05-11T22:59:36.326Z","updated_at":"2016-05-11T22:59:46.195Z","target_branch":"master","source_branch":"test-branch","upvotes":0,"downvotes":0,"author":{"name":"Kyle
        Macey","username":"kylemacey","id":414903,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/kylemacey"},"assignee":null,"source_project_id":1169162,"target_project_id":1169162,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_build_succeeds":false,"merge_status":"can_be_merged","subscribed":true}'
  recorded_at: Wed, 11 May 2016 23:13:01 GMT
recorded_with: VCR 3.0.1
