---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/issues/2191619
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5e62bf28b39e005614761c5e2333da99"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":2191619,"iid":1,"project_id":1169162,"title":"Sign in with GitHub","description":"Get
        omniauth the rest of the way set up, and get you logged in.","state":"closed","created_at":"2016-05-10T21:21:25.830Z","updated_at":"2016-05-10T22:26:00.525Z","labels":[],"milestone":null,"assignee":{"name":"Lizz","username":"lizzhale","id":529949,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/d36cdb93d0f85b5d7b76a183834d4350?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/lizzhale"},"author":{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/spraints"},"subscribed":false}'
  recorded_at: Wed, 11 May 2016 18:10:22 GMT
recorded_with: VCR 3.0.1
