---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/repository/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"acbe4ce7b2b45a94a3b8a8a01473276a"
    body:
      encoding: UTF-8
      string: '{"name":"master","commit":{"id":"fc40f8230aab1a10e16c70b2706e2d2a6164eea0","short_id":"fc40f823","title":"Merge
        branch ''merged-fork-pr'' into ''master''\r","created_at":"2016-11-23T20:43:35.000+00:00","parent_ids":["3a1811f3cb96e9bc426f6ee3544a2cf4f7d5f3fd","75d5f1a0a3f8c07806512a647d16d60c4cd1c36f"],"message":"Merge
        branch ''merged-fork-pr'' into ''master''\r\n\r\nMerged Fork PR\r\n\r\nSee
        merge request !7","author_name":"Kyle Macey","author_email":"shout@kylemacey.com","authored_date":"2016-11-23T20:43:35.000+00:00","committer_name":"Kyle
        Macey","committer_email":"shout@kylemacey.com","committed_date":"2016-11-23T20:43:35.000+00:00"},"merged":false,"protected":true,"developers_can_push":true,"developers_can_merge":true}'
  recorded_at: Mon, 24 Jul 2017 21:49:18 GMT
recorded_with: VCR 3.0.3
