---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8e7403bf87299859dae7281f347a76c7"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"name":"Kyle Macey","username":"kylemacey","id":414903,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/kylemacey","created_at":"2016-02-16T16:36:31.355Z","is_admin":false,"bio":null,"skype":"","linkedin":"","twitter":"","website_url":"","email":"shout@kylemacey.com","theme_id":2,"color_scheme_id":1,"projects_limit":100000,"current_sign_in_at":"2016-03-09T18:41:40.877Z","identities":[],"can_create_group":true,"can_create_project":true,"two_factor_enabled":true,"private_token":"<API_TOKEN>"}'
  recorded_at: Mon, 14 Mar 2016 19:57:53 GMT
recorded_with: VCR 3.0.1
