---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/repository/tags/end-of-sinatra
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"52112f63a2e62247375d5f2af6b7584d"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"name":"end-of-sinatra","message":null,"commit":{"id":"1490680b9a193ff188eb0dff7281b29869c62937","message":"Choose
        my scopes\n","parent_ids":["27c44637e863f719c071d961ab42a6afc041e034"],"authored_date":"2016-05-10T06:06:10.000-07:00","author_name":"Matt
        Burke","author_email":"spraints@gmail.com","committed_date":"2016-05-10T06:06:10.000-07:00","committer_name":"Matt
        Burke","committer_email":"spraints@gmail.com"},"release":{"tag_name":"end-of-sinatra","description":"This
        is the end of sinatra release.![IMG_1708](/uploads/78cf9f363723223e09785f812c732500/IMG_1708.jpg)"}}'
  recorded_at: Fri, 13 May 2016 21:21:13 GMT
recorded_with: VCR 3.0.1
