---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/repository/commits/220d5dc2582a49d694c503abdb8cf25bcdd81dce
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5a3e22b6a20192d4d901ebff19685da1"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"220d5dc2582a49d694c503abdb8cf25bcdd81dce","short_id":"220d5dc2","title":"Need
        some hugo","author_name":"Matt Burke","author_email":"spraints@gmail.com","created_at":"2016-05-10T14:59:51.000-07:00","message":"Need
        some hugo\n","parent_ids":["a7291a05bb99bb755cdcaceb76b4f3d7f24837d5"],"committed_date":"2016-05-10T14:59:51.000-07:00","authored_date":"2016-05-10T14:59:51.000-07:00","status":"skipped"}'
  recorded_at: Thu, 16 Jun 2016 20:57:47 GMT
recorded_with: VCR 3.0.1
