---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=Mouse-Hack
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 12 May 2016 22:12:33 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/groups/Mouse-Hack
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e9c7a7d8e453899f96ecf24ca8bef770"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":627189,"name":"Mouse-Hack","path":"Mouse-Hack","description":"","visibility_level":20,"ldap_cn":null,"ldap_access":null,"avatar_url":null,"web_url":"https://gitlab.com/groups/Mouse-Hack","projects":[{"id":1169162,"description":"Wanna
        use something other than jekyll? Try this one weird trick. er, actually a
        bunch of tricks, glued together.","default_branch":"master","tag_list":[],"public":false,"archived":false,"visibility_level":0,"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/hugo-pages.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/hugo-pages.git","web_url":"https://gitlab.com/Mouse-Hack/hugo-pages","name":"hugo-pages","name_with_namespace":"Mouse-Hack
        / hugo-pages","path":"hugo-pages","path_with_namespace":"Mouse-Hack/hugo-pages","issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"builds_enabled":true,"snippets_enabled":false,"created_at":"2016-05-10T21:15:14.616Z","last_activity_at":"2016-05-12T20:50:37.226Z","shared_runners_enabled":true,"creator_id":142189,"namespace":{"id":627189,"name":"Mouse-Hack","path":"Mouse-Hack","owner_id":null,"created_at":"2016-05-10T22:02:36.633Z","updated_at":"2016-05-10T22:02:36.633Z","description":"","avatar":{"url":null},"membership_lock":false,"share_with_group_lock":false,"visibility_level":20,"last_ldap_sync_at":null},"avatar_url":null,"star_count":0,"forks_count":0,"open_issues_count":4,"public_builds":true}]}'
  recorded_at: Thu, 12 May 2016 22:12:35 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/groups/Mouse-Hack/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e329362de79c064b46e0e9097bad58ea"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"name":"Lizz Hale","username":"ehale","id":47125,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/12732e93949b0450ff987ae2d409a261?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/ehale","access_level":10},{"name":"Lizz","username":"lizzhale","id":529949,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/d36cdb93d0f85b5d7b76a183834d4350?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/lizzhale","access_level":20},{"name":"Jon
        Magic","username":"jonmagic","id":529946,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/7064ad438246a02809c85bcd92cb5f3f?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/jonmagic","access_level":30},{"name":"Kyle
        Macey","username":"kylemacey","id":414903,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/kylemacey","access_level":40},{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/spraints","access_level":50}]'
  recorded_at: Thu, 12 May 2016 22:12:38 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=ehale
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5e0eeaec5bef4042d990103660b0589d"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"name":"Lizz Hale","username":"ehale","id":47125,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/12732e93949b0450ff987ae2d409a261?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/ehale"}]'
  recorded_at: Thu, 12 May 2016 22:12:38 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=lizzhale
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d5115f028f8af87fc9983e7dd8fa29d2"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"name":"Lizz","username":"lizzhale","id":529949,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/d36cdb93d0f85b5d7b76a183834d4350?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/lizzhale"}]'
  recorded_at: Thu, 12 May 2016 22:12:40 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=jonmagic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4e5c49d72571f0ad34fe0b909987a6e3"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"name":"Jon Magic","username":"jonmagic","id":529946,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/7064ad438246a02809c85bcd92cb5f3f?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/jonmagic"}]'
  recorded_at: Thu, 12 May 2016 22:12:43 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=kylemacey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6069ccf87acbc9650e8489c4f0c540e4"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"name":"Kyle Macey","username":"kylemacey","id":414903,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/kylemacey"}]'
  recorded_at: Thu, 12 May 2016 22:12:43 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=spraints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ba0a848fe93046b841cb58f9d531941d"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/spraints"}]'
  recorded_at: Thu, 12 May 2016 22:12:46 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/merge_requests/476834/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0475a66ca37ef923344a96e8d59549a2"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"c222af415ecc78c644c139cbf5eb44a25205cbad","short_id":"c222af41","title":"Update
        README to include TODO list","author_name":"Jonathan Hoyt","author_email":"hoyt@github.com","created_at":"2016-05-12T20:45:04.000+00:00","message":"Update
        README to include TODO list\n"},{"id":"52bb63a29715e4d2db0cf85e985b300c0a9c5c6a","short_id":"52bb63a2","title":"babysteps","author_name":"Matt
        Burke","author_email":"spraints@gmail.com","created_at":"2016-05-10T22:19:11.000+00:00","message":"babysteps\n"}]'
  recorded_at: Thu, 12 May 2016 22:12:47 GMT
recorded_with: VCR 3.0.1
