---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/milestones/62677
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0dc4c9156c5217e67a8c616631c86f8b"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":62677,"iid":1,"project_id":1169162,"title":"Prototype","description":"Just
        get the simplest thing working and out there for folks to try out.","state":"active","created_at":"2016-05-10T22:06:45.481Z","updated_at":"2016-05-10T22:06:45.481Z","due_date":"2020-04-20"}'
  recorded_at: Thu, 12 May 2016 18:47:44 GMT
recorded_with: VCR 3.0.1
