---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/groups/hackmouse/members?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0012ee66aabbd1fe53d2d7d4d8d144d3"
      Link:
      - <https://gitlab.com/api/v3/groups/hackmouse/members?id=hackmouse&page=1&per_page=100>;
        rel="first", <https://gitlab.com/api/v3/groups/hackmouse/members?id=hackmouse&page=1&per_page=100>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '5'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/spraints","access_level":40,"expires_at":null},{"name":"Lizz
        Hale","username":"ehale","id":47125,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/12732e93949b0450ff987ae2d409a261?s=80\u0026d=identicon","web_url":"https://gitlab.com/ehale","access_level":10,"expires_at":null},{"name":"Jon
        Magic","username":"jonmagic","id":529946,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/7064ad438246a02809c85bcd92cb5f3f?s=80\u0026d=identicon","web_url":"https://gitlab.com/jonmagic","access_level":20,"expires_at":null},{"name":"Matt","username":"mattcantstop","id":417001,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/9c1fb6cb9d54ce36a84cca0aa4567ea3?s=80\u0026d=identicon","web_url":"https://gitlab.com/mattcantstop","access_level":30,"expires_at":null},{"name":"Kyle
        Macey","username":"kylemacey","id":414903,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80\u0026d=identicon","web_url":"https://gitlab.com/kylemacey","access_level":50,"expires_at":null}]'
  recorded_at: Wed, 09 Aug 2017 18:42:16 GMT
recorded_with: VCR 3.0.1
