---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/merge_requests/476805
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"024a7e1ecfb1162821c5887a38f91539"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":476805,"iid":1,"project_id":1169162,"title":"Need some hugo,
        more than #4","description":"Big changes","state":"merged","created_at":"2016-05-10T22:01:00.181Z","updated_at":"2016-05-10T22:27:28.965Z","target_branch":"master","source_branch":"omniauth-login","upvotes":2,"downvotes":1,"author":{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/spraints"},"assignee":null,"source_project_id":1169162,"target_project_id":1169162,"labels":[],"work_in_progress":false,"milestone":{"id":62677,"iid":1,"project_id":1169162,"title":"Prototype","description":"Just
        get the simplest thing working and out there for folks to try out.","state":"active","created_at":"2016-05-10T22:06:45.481Z","updated_at":"2016-05-10T22:06:45.481Z","due_date":"2020-04-20"},"merge_when_build_succeeds":false,"merge_status":"can_be_merged","subscribed":true}'
  recorded_at: Wed, 11 May 2016 23:17:58 GMT
recorded_with: VCR 3.0.1
