---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/merge_requests/476834
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"67fe13e72e3e52cbc5c7c28a71d34aa7"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":476834,"iid":2,"project_id":1169162,"title":"WIP: this one''ll
        really be about what the branch name says","description":"Please report this.
        To verizon. Or the NSA.","state":"reopened","created_at":"2016-05-10T22:20:29.649Z","updated_at":"2016-05-12T20:50:27.073Z","target_branch":"master","source_branch":"omniauth-login","upvotes":0,"downvotes":0,"author":{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/spraints"},"assignee":{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/spraints"},"source_project_id":1169162,"target_project_id":1169162,"labels":["Blocker","Don''t
        Drink and Code"],"work_in_progress":true,"milestone":{"id":62677,"iid":1,"project_id":1169162,"title":"Prototype","description":"Just
        get the simplest thing working and out there for folks to try out.","state":"active","created_at":"2016-05-10T22:06:45.481Z","updated_at":"2016-05-10T22:06:45.481Z","due_date":"2020-04-20"},"merge_when_build_succeeds":false,"merge_status":"can_be_merged","subscribed":true}'
  recorded_at: Thu, 12 May 2016 21:27:55 GMT
recorded_with: VCR 3.0.1
