---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/merge_requests/476834/notes/11735567
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d48f95e98c45cd60dd14ed5e693ef82e"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":11735567,"body":"asdfasdfasdfasdfasdf","attachment":null,"author":{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/spraints"},"created_at":"2016-05-10T22:20:54.384Z","updated_at":"2016-05-10T22:20:54.384Z","system":false,"noteable_id":476834,"noteable_type":"MergeRequest","upvote":false,"downvote":false}'
  recorded_at: Thu, 12 May 2016 17:55:14 GMT
recorded_with: VCR 3.0.1
