---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/hackmouse%2Fexample-project
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e77d3e8bd5ab5208b7fb3e2c46068c7b"
    body:
      encoding: UTF-8
      string: '{"id":1148906,"description":"This is an example project","default_branch":"master","tag_list":[],"public":true,"archived":false,"visibility_level":20,"ssh_url_to_repo":"git@gitlab.com:hackmouse/example-project.git","http_url_to_repo":"https://gitlab.com/hackmouse/example-project.git","web_url":"https://gitlab.com/hackmouse/example-project","name":"example-project","name_with_namespace":"Hack
        Mouse / example-project","path":"example-project","path_with_namespace":"hackmouse/example-project","container_registry_enabled":null,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"builds_enabled":true,"snippets_enabled":false,"created_at":"2016-05-04T18:07:59.301Z","last_activity_at":"2016-05-10T16:56:02.198Z","shared_runners_enabled":true,"lfs_enabled":true,"creator_id":414903,"namespace":{"id":488675,"name":"Hack
        Mouse","path":"hackmouse","owner_id":null,"created_at":"2016-02-17T16:19:30.977Z","updated_at":"2016-02-17T18:15:05.721Z","description":"","avatar":{"url":null},"membership_lock":false,"share_with_group_lock":false,"visibility_level":20,"request_access_enabled":true,"ldap_sync_status":"ready","ldap_sync_error":null,"ldap_sync_last_update_at":null,"ldap_sync_last_successful_update_at":null,"ldap_sync_last_sync_at":null,"deleted_at":null,"lfs_enabled":null,"repository_size_limit":null},"avatar_url":null,"star_count":0,"forks_count":0,"open_issues_count":1,"runners_token":"oPbCcGsvrVaSTdG2R_8N","public_builds":true,"shared_with_groups":[],"only_allow_merge_if_build_succeeds":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":null,"approvals_before_merge":0,"permissions":{"project_access":null,"group_access":{"access_level":50,"notification_level":3}}}'
  recorded_at: Mon, 12 Dec 2016 19:53:16 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/hackmouse%2FSpoon-Knife
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8e0a499bc5a212762900202ce2cc6120"
    body:
      encoding: UTF-8
      string: '{"id":1148490,"description":"This repo is for demonstration purposes
        [...]
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/kylemacey%2Ffoobar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"404 Project Not Found"}'
  recorded_at: Mon, 12 Dec 2016 19:53:17 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/kylemacey%2FSpoon-Knife
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cb951053a503e36f30c1e8635b46dfaf"
    body:
      encoding: UTF-8
      string: '{"id":1123699,"description":"This repo is for demonstration purposes
        only.","default_branch":"master","tag_list":[],"public":true,"archived":false,"visibility_level":20,"ssh_url_to_repo":"git@gitlab.com:kylemacey/Spoon-Knife.git","http_url_to_repo":"https://gitlab.com/kylemacey/Spoon-Knife.git","web_url":"https://gitlab.com/kylemacey/Spoon-Knife","owner":{"name":"Kyle
        Macey","username":"kylemacey","id":414903,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80&d=identicon","web_url":"https://gitlab.com/kylemacey"},"name":"Spoon-Knife","name_with_namespace":"Kyle
        Macey / Spoon-Knife","path":"Spoon-Knife","path_with_namespace":"kylemacey/Spoon-Knife","container_registry_enabled":null,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":false,"builds_enabled":true,"snippets_enabled":false,"created_at":"2016-04-27T19:27:08.692Z","last_acti[...]
