---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1316735/repository/commits?page=0&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"55805687df7819a4a82c9f0ac99fbc9c"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"8cd41535235d00706e947914462e119ad338d3c3","short_id":"8cd41535","title":"A
        random change of 8088 to sample5.txt","author_name":"Kyle Macey","author_email":"kylemacey@github.com","created_at":"2016-06-20T10:38:23.000-04:00","message":"A
        random change of 8088 to sample5.txt\n"},{"id":"2d121389b75e373bf9c519ee4be9849ab11043b1","short_id":"2d121389","title":"A
        random change of 28840 to sample4.txt","author_name":"Kyle Macey","author_email":"kylemacey@github.com","created_at":"2016-06-20T10:38:23.000-04:00","message":"A
        random change of 28840 to sample4.txt\n"},{"id":"a291efee82e0afaa7e2e26d2149bc47304c7e760","short_id":"a291efee","title":"A
        random change [...]
[...]
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1316735/repository/commits?page=5&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 20 Jun 2016 18:45:44 GMT
recorded_with: VCR 3.0.1
