---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1123699/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6841490761eaa049c0dd347672ac674e"
      Link:
      - <https://gitlab.com/api/v3/projects/1123699/members?id=1123699&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v3/projects/1123699/members?id=1123699&page=1&per_page=20>;
        rel="last"
      Status:
      - 200 OK
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '2'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Matt","username":"mattcantstop","id":417001,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/9c1fb6cb9d54ce36a84cca0aa4567ea3?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/mattcantstop","access_level":30},{"name":"Kyle
        Macey","username":"kylemacey","id":414903,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/kylemacey","access_level":40}]'
  recorded_at: Fri, 08 Jul 2016 18:37:00 GMT
recorded_with: VCR 3.0.1
