---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1316735/issues?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7d2ca7028780654352418a4940c635b7"
      Link:
      - <https://gitlab.com/api/v3/projects/1316735/issues?id=1316735&page=2&per_page=100>;
        rel="next", <https://gitlab.com/api/v3/projects/1316735/issues?id=1316735&page=1&per_page=100>;
        rel="first", <https://gitlab.com/api/v3/projects/1316735/issues?id=1316735&page=5&per_page=100>;
        rel="last"
      Status:
      - 200 OK
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '500'
      X-Total-Pages:
      - '5'
    body:
      encoding: UTF-8
      string: '[{"id":2498139,"iid":500,"project_id":1316735,"title":"Test Issue #500","description":"Lorem
        Ipsum","state":"opened","created_at":"2016-06-20T18:58:09.707Z","updated_at":"2016-06-20T18:58:09.707Z","labels":[],"milestone":null,"assignee":null,"author":{"name":"Kyle
        Macey","username":"kylemacey","id":414903,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/kylemacey"},"subscribed":true,"user_notes_count":0,"upvotes":0,"downvotes":0},{"id":2498138,"iid":499,"project_id":1316735,"title":"Test
        Issue #499","description":"Lorem Ipsum","state":"opened","created_at":"2016-06-20T18:58:09.183Z","updated_at":"2016-06-20T18:58:09.183Z","labels":[],"milestone":null,"assignee":null,"author":{"name":"Kyle
        Macey","username":"kylemacey","id":414903,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/kylemacey"},"subscrib[...]
[...]
