---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/repository/commits?page=0&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a2ec4a59ee3403ddb45e838af9829075"
    body:
      encoding: UTF-8
      string: '[{"id":"fc40f8230aab1a10e16c70b2706e2d2a6164eea0","short_id":"fc40f823","title":"Merge
        branch ''merged-fork-pr'' into ''master''\r","created_at":"2016-11-23T20:43:35.000+00:00","parent_ids":["3a1811f3cb96e9bc426f6ee3544a2cf4f7d5f3fd","75d5f1a0a3f8c07806512a647d16d60c4cd1c36f"],"message":"Merge
        branch ''merged-fork-pr'' into ''master''\r\n\r\nMerged Fork PR\r\n\r\nSee
        merge request !7","author_name":"Kyle Macey","author_email":"shout@kylemacey.com","authored_date":"2016-11-23T20:43:35.000+00:00","committer_name":"Kyle
        Macey","committer_email":"shout@kylemacey.com","committed_date":"2016-11-23T20:43:35.000+00:00"},{"id":"75d5f1a0a3f8c07806512a647d16d60c4cd1c36f","short_id":"75d5f1a0","title":"Merged
        Fork PR","created_at":"2016-11-23T20:37:17.000+00:00","parent_ids":["3a1811f3cb96e9bc426f6ee3544a2cf4f7d5f3fd"],"message":"Merged
        Fork PR","author_name":"Kyle Macey","author_email":"shout@kylemacey.com","authored_date":"2016-11-23T20:37:17.000+00:00","committer_name":"Kyle
        Macey","committer_email":"shout@kylemacey.com","committed_date":"2016-11-23T20:37:[...]
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/repository/commits?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 11 Apr 2017 21:15:34 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/repository/commits/fc40f8230aab1a10e16c70b2706e2d2a6164eea0/comments?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      Link:
      - <https://gitlab.com/api/v3/projects/1169162/repository/commits/fc40f8230aab1a10e16c70b2706e2d2a6164eea0/comments?id=1169162&page=1&per_page=100&sha=fc40f8230aab1a10e16c70b2706e2d2a6164eea0>;
        rel="first", <https://gitlab.com/api/v3/projects/1169162/repository/commits/fc40f8230aab1a10e16c70b2706e2d2a6164eea0/comments?id=1169162&page=0&per_page=100&sha=fc40f8230aab1a10e16c70b2706e2d2a6164eea0>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '0'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 11 Apr 2017 21:15:35 GMT
[...]
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/repository/commits/220d5dc2582a49d694c503abdb8cf25bcdd81dce/comments?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2415dc5a44be6aa2e4a7232951580f36"
      Link:
      - <https://gitlab.com/api/v3/projects/1169162/repository/commits/220d5dc2582a49d694c503abdb8cf25bcdd81dce/comments?id=1169162&page=1&per_page=100&sha=220d5dc2582a49d694c503abdb8cf25bcdd81dce>;
        rel="first", <https://gitlab.com/api/v3/projects/1169162/repository/commits/220d5dc2582a49d694c503abdb8cf25bcdd81dce/comments?id=1169162&page=1&per_page=100&sha=220d5dc2582a49d694c503abdb8cf25bcdd81dce>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"note":"is this necessary?\r\n\r\n[testFile.txt](/uploads/af7fcacfc5d69fdcf63a8f04048a106f/testFile.txt)\r\n\r\n\r\n\r\n","path":"Brewfile","line":5,"line_type":null,"author":{"name":"Lizz","username":"lizzhale","id":529949,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/d36cdb93d0f85b5d7b76a183834d4350?s=80\u0026d=identicon","web_url":"https://gitlab.com/lizzhale"},"created_at":"2016-05-10T22:23:50.501Z"}]'
  recorded_at: Tue, 11 Apr 2017 21:15:36 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=lizzhale
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3249c36c75bc4ef750124820b232d83b"
      Link:
      - <https://gitlab.com/api/v3/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=lizzhale>;
        rel="first", <https://gitlab.com/api/v3/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=lizzhale>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Lizz","username":"lizzhale","id":529949,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/d36cdb93d0f85b5d7b76a183834d4350?s=80\u0026d=identicon","web_url":"https://gitlab.com/lizzhale"}]'
  recorded_at: Tue, 11 Apr 2017 21:15:36 GMT
[...]
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=jonmagic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ca6e9eab8324ba4eb25f7a78100dc4d6"
      Link:
      - <https://gitlab.com/api/v3/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=jonmagic>;
        rel="first", <https://gitlab.com/api/v3/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=jonmagic>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Jon Magic","username":"jonmagic","id":529946,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/7064ad438246a02809c85bcd92cb5f3f?s=80\u0026d=identicon","web_url":"https://gitlab.com/jonmagic"}]'
  recorded_at: Tue, 11 Apr 2017 21:15:44 GMT
recorded_with: VCR 3.0.3
