---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/repository/branches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"624ef694f86a3335847b43af0074891e"
    body:
      encoding: UTF-8
      string: '[{"name":"fp-pr","commit":{"id":"542aed8ddc52388ce24212a74ecba6a511a9a763","short_id":"542aed8d","title":"foo","created_at":"2016-10-03T17:24:29.000-04:00","parent_ids":["3a1811f3cb96e9bc426f6ee3544a2cf4f7d5f3fd"],"message":"foo\n","author_name":"Kyle
        Macey","author_email":"kylemacey@github.com","authored_date":"2016-10-03T17:24:29.000-04:00","committer_name":"Kyle
        Macey","committer_email":"kylemacey@github.com","committed_date":"2016-10-03T17:24:29.000-04:00"},"merged":false,"protected":false,"developers_can_push":false,"developers_can_merge":false},{"name":"master","commit":{"id":"fc40f8230aab1a10e16c70b2706e2d2a6164eea0","short_id":"fc40f823","title":"Merge
        branch ''merged-fork-pr'' into ''master''\r","created_at":"2016-11-23T20:43:35.000+00:00","parent_ids":["3a1811f3cb96e9bc426f6ee3544a2cf4f7d5f3fd","75d5f1a0a3f8c07806512a647d16d60c4cd1c36f"],"message":"Merge
        branch ''merged-fork-pr'' into ''master''\r\n\r\nMerged Fork PR\r\n\r\nSee
        merge request !7","author_name":"Kyle Macey","author_email":"shout@kylemac[...]
- request:
    method: get
    uri: https://gitlab.com/api/v3/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f3c26d04fd2d0ada783aad134bd52226"
    body:
      encoding: UTF-8
      string: '{"name":"Daniel Perez","username":"dpmex4527","id":1238984,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/47338cb6ea1c84bfd0bbafd6a1298f3d?s=80&d=identicon","web_url":"https://gitlab.com/dpmex4527","created_at":"2017-04-04T19:52:54.496Z","bio":null,"location":null,"skype":"","linkedin":"","twitter":"","website_url":"","organization":null,"last_sign_in_at":"2017-07-26T16:01:29.442Z","confirmed_at":"2017-04-04T19:53:15.263Z","last_activity_on":"2017-07-24","email":"dpmex4527@gmail.com","color_scheme_id":1,"projects_limit":100000,"current_sign_in_at":"2017-07-26T17:31:43.093Z","identities":[],"can_create_group":true,"can_create_project":true,"two_factor_enabled":false,"external":false,"shared_runners_minutes_limit":null}'
  recorded_at: Wed, 26 Jul 2017 18:55:13 GMT
recorded_with: VCR 3.0.3
