---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"955c84fbb54bb983ce521f51bde4f39e"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"name":"Blocker","color":"#a295d6","description":"I''m currently
        blocked, please send help.","open_issues_count":1,"closed_issues_count":0,"open_merge_requests_count":0},{"name":"Bug","color":"#ff0000","description":"","open_issues_count":1,"closed_issues_count":0,"open_merge_requests_count":0},{"name":"Don''t
        Drink and Code","color":"#ad8d43","description":"","open_issues_count":0,"closed_issues_count":0,"open_merge_requests_count":0}]'
  recorded_at: Wed, 11 May 2016 18:26:23 GMT
recorded_with: VCR 3.0.1
