---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/issues/2656448
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2d5249aa6b1d727d669a42b1d02ffae7"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":2656448,"iid":6,"project_id":1169162,"title":"Issue with attachments","description":"Here
        is my issue\r\n\r\n![image](/uploads/4c34b72a41b3e1b2f9a97fd0c2e50d82/image.png)\r\n\r\n[pdf-sample.pdf](/uploads/aca2cc60c183e113481adbdd167aa9fe/pdf-sample.pdf)","state":"opened","created_at":"2016-07-26T21:56:45.417Z","updated_at":"2016-07-26T21:56:45.417Z","labels":[],"milestone":null,"assignee":null,"author":{"name":"Kyle
        Macey","username":"kylemacey","id":414903,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/kylemacey"},"subscribed":true,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null}'
  recorded_at: Tue, 26 Jul 2016 22:03:06 GMT
recorded_with: VCR 3.0.1
