---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/version
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5a93353d44b4bfe9875e06db6143e78e"
    body:
      encoding: UTF-8
      string: '{"version":"8.13.5-ee","revision":"94cc667"}'
  recorded_at: Thu, 10 Nov 2016 20:57:31 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/Mouse-Hack%2Fhugo-pages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1695463f280ad29f67484113fe6c8056"
    body:
      encoding: UTF-8
      string: '{"id":1169162,"description":"Wanna use something other than jekyll?
        Try this one weird trick. er, actually a bunch of tricks, glued together.","default_branch":"master","tag_list":[],"public":false,"archived":false,"visibility_level":0,"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/hugo-pages.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/hugo-pages.git","web_url":"https://gitlab.com/Mouse-Hack/hugo-pages","name":"hugo-pages","name_with_namespace":"Mouse-Hack
        / hugo-pages","path":"hugo-pages","path_with_namespace":"Mouse-Hack/hugo-pages","container_registry_enabled":null,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"builds_enabled":true,"snippets_enabled":false,"created_at":"2016-05-10T21:15:14.616Z","last_activity_at":"2016-10-03T21:16:12.472Z","shared_runners_enabled":true,"lfs_enabled":true,"creator_id":142189,"namespace":{"id":627189,"name":"Mouse-Hack","path":"Mouse-Hack","owner_id":null,"created_at":"2016-05-10T22:02:36.633Z","updated_at":"2016-05-10T22:02:36.633Z","description":"","avatar":{"url":null},"membership_lock":false,"share_with_group_lock":false,"visibility_level":20,"request_access_enabled":true,"ldap_sync_status":"ready","ldap_sync_error":null,"ldap_sync_last_update_at":null,"ldap_sync_last_successful_update_at":null,"ldap_sync_last_sync_at":null,"deleted_at":null,"lfs_enabled":null,"repository_size_limit":null},"avatar_url":null,"star_count":0,"forks_count":0,"open_issues_count":5,"runners_token":"nbZkxy8zkQz8sjtFtWGW","public_builds":true,"shared_with_groups":[{"group_id":627189,"group_name":"Mouse-Hack","group_access_level":30}],"only_allow_merge_if_build_succeeds":false,"request_access_enabled":true,"permissions":{"project_access":null,"group_access":{"access_level":40,"notification_level":3}}}'
  recorded_at: Thu, 10 Nov 2016 20:57:31 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a7b8cff9d8fbb2d6639f81f1841a5d8e"
    body:
      encoding: UTF-8
      string: '{"name":"Kyle Macey","username":"kylemacey","id":414903,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80&d=identicon","web_url":"https://gitlab.com/kylemacey","created_at":"2016-02-16T16:36:31.355Z","is_admin":false,"bio":"","location":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":null,"last_sign_in_at":"2016-11-08T15:19:56.701Z","confirmed_at":"2016-02-16T22:54:32.633Z","email":"shout@kylemacey.com","theme_id":2,"color_scheme_id":1,"projects_limit":100000,"current_sign_in_at":"2016-11-08T15:19:57.027Z","identities":[],"can_create_group":true,"can_create_project":true,"two_factor_enabled":true,"external":false}'
  recorded_at: Thu, 10 Nov 2016 20:57:32 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=Mouse-Hack
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 10 Nov 2016 20:57:32 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/groups/Mouse-Hack
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5ee86dbfbed77415d4b1d0b1cb1d09bd"
    body:
      encoding: UTF-8
      string: '{"id":627189,"name":"Mouse-Hack","path":"Mouse-Hack","description":"","visibility_level":20,"ldap_cn":null,"ldap_access":null,"lfs_enabled":true,"avatar_url":null,"web_url":"https://gitlab.com/groups/Mouse-Hack","request_access_enabled":true,"projects":[{"id":1316735,"description":"","default_branch":"master","tag_list":[],"public":false,"archived":false,"visibility_level":0,"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/many-commits.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/many-commits.git","web_url":"https://gitlab.com/Mouse-Hack/many-commits","name":"many-commits","name_with_namespace":"Mouse-Hack
        / many-commits","path":"many-commits","path_with_namespace":"Mouse-Hack/many-commits","container_registry_enabled":true,"issu[...]
- request:
    method: get
    uri: https://gitlab.com/api/v3/groups/Mouse-Hack/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b857f6495031d0ab8a8d66273ef39745"
      Link:
      - <https://gitlab.com/api/v3/groups/Mouse-Hack/members?id=Mouse-Hack&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v3/groups/Mouse-Hack/members?id=Mouse-Hack&page=1&per_page=20>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '5'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Lizz Hale","username":"ehale","id":47125,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/12732e93949b0450ff987ae2d409a261?s=80\u0026d=identicon","web_url":"https://gitlab.com/ehale","access_level":10,"expires_at":null},{"name":"Lizz","username":"lizzhale","id":529949,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/d36cdb93d0f85b5d7b76a183834d4350?s=80\u0026d=identicon","web_url":"https://gitlab.com/lizzhale","access_level":20,"expires_at":null},{"name":"Jon
        Magic","username":"jonmagic","id":529946,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/7064ad438246a02809c85bcd92cb5f3f?s=80\u0026d=identicon","web_url":"https://gitlab.com/jonmagic","access_level":30,"expires_at":null},{"name":"Kyle
        Macey","username":"kylemacey","id":414903,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80\u0026d=identicon","web_url":"https://gitlab.com/kylemacey","access_level":40,"expires_at":null},{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/spraints","access_level":50,"expires_at":null}]'
  recorded_at: Thu, 10 Nov 2016 20:57:36 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=ehale
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"84bf783b10b639acbc9f662aae71b30b"
    body:
      encoding: UTF-8
      string: '[{"name":"Lizz Hale","username":"ehale","id":47125,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/12732e93949b0450ff987ae2d409a261?s=80\u0026d=identicon","web_url":"https://gitlab.com/ehale"}]'
  recorded_at: Thu, 10 Nov 2016 20:57:36 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=lizzhale
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3249c36c75bc4ef750124820b232d83b"
    body:
      encoding: UTF-8
      string: '[{"name":"Lizz","username":"lizzhale","id":529949,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/d36cdb93d0f85b5d7b76a183834d4350?s=80\u0026d=identicon","web_url":"https://gitlab.com/lizzhale"}]'
  recorded_at: Thu, 10 Nov 2016 20:57:36 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=jonmagic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ca6e9eab8324ba4eb25f7a78100dc4d6"
    body:
      encoding: UTF-8
      string: '[{"name":"Jon Magic","username":"jonmagic","id":529946,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/7064ad438246a02809c85bcd92cb5f3f?s=80\u0026d=identicon","web_url":"https://gitlab.com/jonmagic"}]'
  recorded_at: Thu, 10 Nov 2016 20:57:36 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=kylemacey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0397cdea7058336bfa759c4e444f4a63"
    body:
      encoding: UTF-8
      string: '[{"name":"Kyle Macey","username":"kylemacey","id":414903,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80\u0026d=identicon","web_url":"https://gitlab.com/kylemacey"}]'
  recorded_at: Thu, 10 Nov 2016 20:57:37 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=spraints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bd3f9f832a13324f9c4c04c0ec6eb0a5"
    body:
      encoding: UTF-8
      string: '[{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/spraints"}]'
  recorded_at: Thu, 10 Nov 2016 20:57:37 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"842e8aceb57f85aad01777c93e2925ab"
    body:
      encoding: UTF-8
      string: '[{"name":"Blocker","color":"#a295d6","description":"I''m currently
        blocked, please send help.","open_issues_count":0,"closed_issues_count":0,"open_merge_requests_count":0,"subscribed":false},{"name":"Bug","color":"#ff0000","description":"","open_issues_count":0,"closed_issues_count":0,"open_merge_requests_count":0,"subscribed":false},{"name":"Don''t
        Drink and Code","color":"#ad8d43","description":"","open_issues_count":0,"closed_issues_count":0,"open_merge_requests_count":0,"subscribed":false}]'
  recorded_at: Thu, 10 Nov 2016 20:57:38 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cd8454e5e049aeaf1f3582df22ed7c69"
      Link:
      - <https://gitlab.com/api/v3/projects/1169162/hooks?id=1169162&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v3/projects/1169162/hooks?id=1169162&page=1&per_page=20>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '2'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":50704,"url":"http://requestb.in/v3fo7mv3","created_at":"2016-07-07T20:36:51.572Z","project_id":1169162,"push_events":true,"issues_events":true,"merge_requests_events":true,"tag_push_events":true,"note_events":true,"build_events":true,"pipeline_events":false,"wiki_page_events":true,"enable_ssl_verification":false},{"id":50703,"url":"http://requestb.in/1izuozf1","created_at":"2016-07-07T20:36:26.639Z","project_id":1169162,"push_events":true,"issues_events":false,"merge_requests_events":false,"tag_push_events":true,"note_events":true,"build_events":false,"pipeline_events":false,"wiki_page_events":false,"enable_ssl_verification":true}]'
  recorded_at: Thu, 10 Nov 2016 20:57:38 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ab3aece55207d3c64a2740638862909d"
      Link:
      - <https://gitlab.com/api/v3/projects/1169162/members?id=1169162&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v3/projects/1169162/members?id=1169162&page=1&per_page=20>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/spraints","access_level":40,"expires_at":null}]'
  recorded_at: Thu, 10 Nov 2016 20:57:38 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/milestones?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"54f10aac34ca509dce2e6f411cff8956"
      Link:
      - <https://gitlab.com/api/v3/projects/1169162/milestones?id=1169162&page=1&per_page=100>;
        rel="first", <https://gitlab.com/api/v3/projects/1169162/milestones?id=1169162&page=1&per_page=100>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":62677,"iid":1,"project_id":1169162,"title":"Prototype","description":"Just
        get the simplest thing working and out there for folks to try out.","state":"active","created_at":"2016-05-10T22:06:45.481Z","updated_at":"2016-05-10T22:06:45.481Z","due_date":"2020-04-20"}]'
  recorded_at: Thu, 10 Nov 2016 20:57:39 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/repository/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"81a8dca1373b60944b3c2a1ce1a74c0c"
    body:
      encoding: UTF-8
      string: '[{"name":"v1.0.0","message":"version 1.0.0 is shipping","commit":{"id":"3a1811f3cb96e9bc426f6ee3544a2cf4f7d5f3fd","message":"Merge
        branch ''omniauth-login'' into ''master''\r\n\r\nNeed some hugo, more than
        #4\r\n\r\nBig changes\r\n\r\nSee merge request !1","parent_ids":["a7291a05bb99bb755cdcaceb76b4f3d7f24837d5","220d5dc2582a49d694c503abdb8cf25bcdd81dce"],"authored_date":"2016-05-10T22:15:31.000+00:00","author_name":"Matt","author_email":"spraints@gmail.com","committed_date":"2016-05-10T22:15:31.000+00:00","committer_name":"Matt","committer_email":"spraints@gmail.com"},"release":null},{"name":"end-of-sinatra","message":null,"commit":{"id":"1490680b9a193ff188eb0dff7281b29869c62937","message":"Choose
        my scopes\n","parent_ids":["27c44637e863f719c071d961ab42a6afc041e034"],"authored_date":"2016-05-10T06:06:10.000-07:00","author_name":"Matt
        Burke","author_email":"spraints@gmail.com","committed_date":"2016-05-10T06:06:10.000-07:00","committer_name":"Matt
        Burke","committer_email":"spraints@gmail.com"},"release":{"tag_name":"end-of-sinatra","description":"This
        is the end of sinatra release.![IMG_1708](/uploads/78cf9f363723223e09785f812c732500/IMG_1708.jpg)"}}]'
  recorded_at: Thu, 10 Nov 2016 20:57:39 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/groups/Mouse-Hack/members?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0fb4d6aa1e89dd9f48de7173695913f8"
      Link:
      - <https://gitlab.com/api/v3/groups/Mouse-Hack/members?id=Mouse-Hack&page=1&per_page=100>;
  [...]
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=my_man
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cd2ac32f89d3938912abf8dc91067c65"
      Link:
      - <https://gitlab.com/api/v3/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=my_man>;
        rel="first", <https://gitlab.com/api/v3/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=my_man>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"my man","username":"my_man","id":1477621,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/00565f56cd9c1974f7d5f632ebd40ccb?s=80\u0026d=identicon","web_url":"https://gitlab.com/my_man"}]'
  recorded_at: Thu, 17 Aug 2017 14:22:13 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=jkjewett
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"46e53a4e0f06a74a94ec3257aeacddc5"
      Link:
      - <https://gitlab.com/api/v3/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=jkjewett>;
        rel="first", <https://gitlab.com/api/v3/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=jkjewett>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Jeff Jewtt","username":"jkjewett","id":1474011,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/a6df7faef903e68cc2fbbb03195e5eb4?s=80\u0026d=identicon","web_url":"https://gitlab.com/jkjewett"}]'
  recorded_at: Thu, 17 Aug 2017 14:22:15 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=colossus9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bff02fce781b060dc2a1b6a64c362f1d"
      Link:
      - <https://gitlab.com/api/v3/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=colossus9>;
        rel="first", <https://gitlab.com/api/v3/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=colossus9>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"James Garcia","username":"colossus9","id":1292088,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/1b174a060796c583b11a1fbaf1a0f9af?s=80\u0026d=identicon","web_url":"https://gitlab.com/colossus9"}]'
  recorded_at: Thu, 17 Aug 2017 14:22:15 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=dpmex4527
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"355bd64c43a4825a005162767eeeb709"
      Link:
      - <https://gitlab.com/api/v3/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=dpmex4527>;
        rel="first", <https://gitlab.com/api/v3/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=dpmex4527>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Daniel Perez","username":"dpmex4527","id":1238984,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/47338cb6ea1c84bfd0bbafd6a1298f3d?s=80\u0026d=identicon","web_url":"https://gitlab.com/dpmex4527"}]'
  recorded_at: Thu, 17 Aug 2017 14:22:16 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=mattcantstop
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7d3c97ef75b27a399955613c9a55411c"
      Link:
      - <https://gitlab.com/api/v3/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=mattcantstop>;
        rel="first", <https://gitlab.com/api/v3/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=mattcantstop>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Matt","username":"mattcantstop","id":417001,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/9c1fb6cb9d54ce36a84cca0aa4567ea3?s=80\u0026d=identicon","web_url":"https://gitlab.com/mattcantstop"}]'
  recorded_at: Thu, 17 Aug 2017 14:22:16 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/repository/branches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6cf34fc44ad424fece1a4ba915765380"
    body:
      encoding: UTF-8
      string: '[{"name":"fp-pr","commit":{"id":"542aed8ddc52388ce24212a74ecba6a511a9a763","short_id":"542aed8d","title":"foo","created_at":"2016-10-03T21:24:29.000+00:00","parent_ids":null,"message":"foo","author_name":"Kyle
        Macey","author_email":"\u003ckylemacey@github.com\u003e","authored_date":"2016-10-03T21:24:29.000+00:00","committer_name":"Kyle
        Macey","committer_email":"\u003ckylemacey@github.com\u003e","committed_date":"2016-10-03T21:24:29.000+00:00"},"merged":false,"protected":false,"developers_can_push":false,"developers_can_merge":false},{"name":"master","commit":{"id":"fc40f8230aab1a10e16c70b2706e2d2a6164eea0","short_id":"fc40f823","title":"Merge
        branch ''merged-fork-pr'' into ''master''\r \r Merged Fork PR\r \r See merge
        request !7","created_at":"2016-11-23T20:43:35.000+00:00","parent_ids":null,"message":"Merge
        branch ''merged-fork-pr'' into ''master''\r \r Merged Fork PR\r \r See merge
        request !7","author_name":"Kyle Macey","author_email":"\u003cshout@kylemacey.com\u003e","authored_date"[...]
