---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=jonmagic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ca6e9eab8324ba4eb25f7a78100dc4d6"
    body:
      encoding: UTF-8
      string: '[{"name":"Jon Magic","username":"jonmagic","id":529946,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/7064ad438246a02809c85bcd92cb5f3f?s=80\u0026d=identicon","web_url":"https://gitlab.com/jonmagic"}]'
  recorded_at: Fri, 21 Oct 2016 22:20:08 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=kylemacey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0397cdea7058336bfa759c4e444f4a63"
    body:
      encoding: UTF-8
      string: '[{"name":"Kyle Macey","username":"kylemacey","id":414903,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80\u0026d=identicon","web_url":"https://gitlab.com/kylemacey"}]'
  recorded_at: Fri, 21 Oct 2016 22:20:08 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/issues/2192031/notes?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a1c80f4bfd347a2488e5922c5c4eb711"
      Link:
      - <https://gitlab.com/api/v3/projects/1169162/issues/2192031/notes?id=1169162&issue_id=2192031&page=1&per_page=100>;
        rel="first", <https://gitlab.com/api/v3/projects/1169162/issues/2192031/notes?id=1169162&issue_id=2192031&page=1&per_page=100>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '6'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":11735605,"body":"mentioned in issue #1","attachment":null,"author":{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/spraints"},"created_at":"2016-05-10T22:26:08.164Z","updated_at":"2016-05-10T22:26:08.164Z","system":true,"noteable_id":2192031,"noteable_type":"Issue","upvote?":false,"downvote?":false},{"id":11736049,"body":"Added
        ~248627 label","attachment":null,"author":{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/spraints"},"created_at":"2016-05-10T23:24:26.110Z","updated_at":"2016-05-10T23:24:26.110Z","system":true,"noteable_id":2192031,"noteable_type":"Issue","upvote?":false,"downvote?[...]
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=spraints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bd3f9f832a13324f9c4c04c0ec6eb0a5"
    body:
      encoding: UTF-8
      string: '[{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/spraints"}]'
  recorded_at: Fri, 21 Oct 2016 22:20:09 GMT
recorded_with: VCR 3.0.1
