---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/merge_requests/4385181/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 24 Jul 2017 22:01:27 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=my_man
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cd2ac32f89d3938912abf8dc91067c65"
      Link:
      - <https://gitlab.com/api/v3/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=my_man>;
        rel="first", <https://gitlab.com/api/v3/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=my_man>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"my man","username":"my_man","id":1477621,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/00565f56cd9c1974f7d5f632ebd40ccb?s=80\u0026d=identicon","web_url":"https://gitlab.com/my_man"}]'
  recorded_at: Mon, 24 Jul 2017 22:01:28 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/merge_requests/4385181/notes?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      Link:
      - <https://gitlab.com/api/v3/projects/1169162/merge_requests/4385181/notes?id=1169162&noteable_id=4385181&page=1&per_page=100>;
        rel="first", <https://gitlab.com/api/v3/projects/1169162/merge_requests/4385181/notes?id=1169162&noteable_id=4385181&page=0&per_page=100>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '0'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 24 Jul 2017 22:01:29 GMT
recorded_with: VCR 3.0.3
