---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/users?username=kylemacey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6069ccf87acbc9650e8489c4f0c540e4"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"name":"Kyle Macey","username":"kylemacey","id":414903,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/kylemacey"}]'
  recorded_at: Tue, 10 May 2016 20:58:54 GMT
recorded_with: VCR 3.0.1
