---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/merge_requests/476834/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0475a66ca37ef923344a96e8d59549a2"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"c222af415ecc78c644c139cbf5eb44a25205cbad","short_id":"c222af41","title":"Update
        README to include TODO list","author_name":"Jonathan Hoyt","author_email":"hoyt@github.com","created_at":"2016-05-12T20:45:04.000+00:00","message":"Update
        README to include TODO list\n"},{"id":"52bb63a29715e4d2db0cf85e985b300c0a9c5c6a","short_id":"52bb63a2","title":"babysteps","author_name":"Matt
        Burke","author_email":"spraints@gmail.com","created_at":"2016-05-10T22:19:11.000+00:00","message":"babysteps\n"}]'
  recorded_at: Thu, 12 May 2016 21:33:44 GMT
recorded_with: VCR 3.0.1
