---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/version
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5abf3f66b85a293bbf7a3fc39a4c5ba6"
      Ratelimit-Observed:
      - '23'
      Ratelimit-Remaining:
      - '1977'
      Ratelimit-Reset:
      - '1652294653'
      Ratelimit-Resettime:
      - Wed, 11 May 2022 18:44:13 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-13-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '{"version":"15.0.0-pre","revision":"28543129006"}'
  recorded_at: Wed, 11 May 2022 18:43:13 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/Mouse-Hack%2Fhugo-pages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"334d190ed961c79abd832a33e3a7a9b6"
      Ratelimit-Observed:
      - '24'
      Ratelimit-Remaining:
      - '1976'
      Ratelimit-Reset:
      - '1652294653'
      Ratelimit-Resettime:
      - Wed, 11 May 2022 18:44:13 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-27-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '{"id":1169162,"description":"Wanna use something other than jekyll?
        Try this one weird trick. er, actually a bunch of tricks, glued together.","name":"hugo-pages","name_with_namespace":"Mouse-Hack
        / hugo-pages","path":"hugo-pages","path_with_namespace":"Mouse-Hack/hugo-pages","created_at":"2016-05-10T21:15:14.616Z","default_branch":"master","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/hugo-pages.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/hugo-pages.git","web_url":"https://gitlab.com/Mouse-Hack/hugo-pages","readme_url":"https://gitlab.com/Mouse-Hack/hugo-pages/-/blob/master/README.md","avatar_url":null,"forks_count":1,"star_count":0,"last_activity_at":"2020-08-10T16:21:24.171Z","namespace":{"id":627189,"name":"Mouse-Hack","path":"Mouse-Hack","kind":"group","full_path":"Mouse-Hack","parent_id":null,"avatar_url":null,"web_url":"https://gitlab.com/groups/Mouse-Hack"},"container_registry_image_prefix":"registry.gitlab.com/mouse-hack/hugo-pages","_links":{"self":"https://gitlab.com/api/v4/projects/1169162","issues":"https://gitlab.com/api/v4/projects/1169162/issues","merge_requests":"https://gitlab.com/api/v4/projects/1169162/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/1169162/repository/branches","labels":"https://gitlab.com/api/v4/projects/1169162/labels","events":"https://gitlab.com/api/v4/projects/1169162/events","members":"https://gitlab.com/api/v4/projects/1169162/members","cluster_agents":"https://gitlab.com/api/v4/projects/1169162/cluster_agents"},"packages_enabled":null,"empty_repo":false,"archived":false,"visibility":"private","resolve_outdated_diff_discussions":null,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":false,"container_registry_enabled":false,"service_desk_enabled":null,"service_desk_address":"contact-project+mouse-hack-hugo-pages-1169162-issue-@incoming.gitlab.com","can_create_merge_request_in":true,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"private","builds_access_level":"enabled","snippets_access_level":"disabled","pages_access_level":"public","operations_access_level":"enabled","analytics_access_level":"enabled","container_registry_access_level":"disabled","security_and_compliance_access_level":"private","emails_disabled":null,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":142189,"import_url":"","import_type":null,"import_status":"none","import_error":null,"open_issues_count":7,"runners_token":"GR1348941uzamCoyCDb3Jx922ywJT","ci_default_git_depth":null,"ci_forward_deployment_enabled":null,"ci_job_token_scope_enabled":false,"public_jobs":true,"build_git_strategy":"fetch","build_timeout":3600,"auto_cancel_pending_pipelines":"enabled","ci_config_path":null,"shared_with_groups":[{"group_id":627189,"group_name":"Mouse-Hack","group_full_path":"Mouse-Hack","group_access_level":30,"expires_at":null}],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"restrict_user_defined_variables":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":null,"remove_source_branch_after_merge":null,"printing_merge_request_link_enabled":true,"merge_method":"merge","squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","autoclose_referenced_issues":true,"keep_latest_artifact":true,"runner_token_expiration_interval":null,"external_authorization_classification_label":"","requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":true,"compliance_frameworks":[],"permissions":{"project_access":null,"group_access":{"access_level":50,"notification_level":3}}}'
  recorded_at: Wed, 11 May 2022 18:43:13 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9442d33da0b7afd0a9c418a2e368a397"
      Ratelimit-Observed:
      - '25'
      Ratelimit-Remaining:
      - '1975'
      Ratelimit-Reset:
      - '1652294653'
      Ratelimit-Resettime:
      - Wed, 11 May 2022 18:44:13 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-07-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '{"id":11057002,"username":"gohana","name":"Ginny Ohana","state":"active","avatar_url":"https://secure.gravatar.com/avatar/8454e82518cd7a7ab8dfd572628501ca?s=80\u0026d=identicon","web_url":"https://gitlab.com/gohana","created_at":"2022-03-07T22:29:16.797Z","bio":"","location":null,"public_email":null,"skype":"","linkedin":"","twitter":"","website_url":"","organization":null,"job_title":"","pronouns":null,"bot":false,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":"2022-03-07T22:29:46.842Z","confirmed_at":"2022-03-07T22:29:41.597Z","last_activity_on":"2022-05-11","email":"gohana@github.com","theme_id":11,"color_scheme_id":2,"projects_limit":100000,"current_sign_in_at":"2022-05-03T17:34:40.469Z","identities":[],"can_create_group":true,"can_create_project":true,"two_factor_enabled":true,"external":false,"private_profile":false,"commit_email":"gohana@github.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null}'
  recorded_at: Wed, 11 May 2022 18:43:13 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=Mouse-Hack
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=Mouse-Hack&with_custom_attributes=false&without_project_bots=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=Mouse-Hack&with_custom_attributes=false&without_project_bots=false>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '26'
      Ratelimit-Remaining:
      - '1974'
      Ratelimit-Reset:
      - '1652294653'
      Ratelimit-Resettime:
      - Wed, 11 May 2022 18:44:13 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-24-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 11 May 2022 18:43:13 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/groups/Mouse-Hack
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2aaa5282dc0b01d4cf24c31d80783846"
      Ratelimit-Observed:
      - '27'
      Ratelimit-Remaining:
      - '1973'
      Ratelimit-Reset:
      - '1652294655'
      Ratelimit-Resettime:
      - Wed, 11 May 2022 18:44:15 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-13-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '{"id":627189,"web_url":"https://gitlab.com/groups/Mouse-Hack","name":"Mouse-Hack","path":"Mouse-Hack","description":"","visibility":"private","share_with_group_lock":false,"require_two_factor_authentication":true,"two_factor_grace_period":48,"project_creation_level":"developer","auto_devops_enabled":null,"subgroup_creation_level":"owner","emails_disabled":false,"mentions_disabled":false,"lfs_enabled":true,"default_branch_protection":2,"avatar_url":null,"request_access_enabled":true,"full_name":"Mouse-Hack","full_path":"Mouse-Hack","created_at":"2016-05-10T22:02:36.633Z","parent_id":null,"ldap_cn":null,"ldap_access":null,"shared_with_groups":[],"runners_token":"GR1348941NPz6i3hD8uf_9rzjNw1J","prevent_sharing_groups_outside_hierarchy":false,"projects":[{"id":31766623,"description":"","name":"Test
        Squash Commits","name_with_namespace":"Mouse-Hack / Test Squash Commits","path":"test-squash-commits","path_with_namespace":"Mouse-Hack/test-squash-commits","created_at":"2021-12-01T15:46:05.916Z","default_branch":"main","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/test-squash-commits.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/test-squash-commits.git","web_url":"https://gitlab.com/Mouse-Hack/test-squash-c[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/groups/Mouse-Hack/members/all?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"26ea398ae34a833af66312a7f9b31ad9"
      Link:
      - <https://gitlab.com/api/v4/groups/Mouse-Hack/members/all?id=Mouse-Hack&page=1&per_page=100>;
        rel="first", <https://gitlab.com/api/v4/groups/Mouse-Hack/members/all?id=Mouse-Hack&page=1&per_page=100>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '17'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '28'
      Ratelimit-Remaining:
      - '1972'
      Ratelimit-Reset:
      - '1652294655'
      Ratelimit-Resettime:
      - Wed, 11 May 2022 18:44:15 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-02-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"id":142189,"username":"spraints","name":"Matt","state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/spraints","access_level":50,"created_at":"2016-05-10T22:02:36.802Z","expires_at":null,"membership_state":"active"},{"id":529946,"username":"jonmagic","name":"Jon
        Magic","state":"active","avatar_url":"https://secure.gravatar.com/avatar/7064ad438246a02809c85bcd92cb5f3f?s=80\u0026d=identicon","web_url":"https://gitlab.com/jonmagic","access_level":30,"created_at":"2016-05-10T22:05:01.956Z","created_by":{"id":142189,"username":"spraints","name":"Matt","state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/spraints"},"expires_at":null,"membership_state":"active"},{"id":529949,"username":"lizzhale","name":"Lizz","state":"active","avatar_url":"https://secure.gravatar.com/avatar/d36cdb93d0f85b5d7b76a183834d4350?s=80\u0026d=identicon","web_url":"https://gitlab.com/lizzhale","access_level":20,"created_at"[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=spraints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3265bd69183facf0b24ee437cf0dd451"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_l[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=jonmagic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"33d96a6468f73a3cd4bfc6f6bf2b4722"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_l[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=lizzhale
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7689dee45153aa626ad8f9f3c830f236"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_l[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=ehale
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9224daafdef2bcca3eeade7ad2bd4e41"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=mattcantstop
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fbeefb63f45b91c7360cf0fe30b18db7"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&sk[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=dpmex4527
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1e1707147b655afc275aff2581388d1b"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=synthead
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8237eeeaa7ebf7eb2b266d7bfc162b39"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_l[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=Hollyw0od99
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ec9e84547bcaabecb6be0e51b2a9058f"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&ski[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=tambling
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"55b3f7d373abf54e1c0f0f4989c981ee"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_l[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=jfine
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"981d5fa66e27f1e3ed5172ebdd0605a4"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=admiralawkbar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5b2dfd2f17e477a0592447ae2c451495"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&s[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=mechashark-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"053a4f37e369b532207cdfd30ecb0a56"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=keerthanakumar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"de97c4aa9c9311ab9bcf8a083d229685"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=brianaj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eb8dfe9de645bb873634b7d08137a61f"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ld[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=iomekam
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"844d48c13378d181473eaf2b5901f14e"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ld[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=juanmrad
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1606aa6a3ccaddea2100415a11a88c7d"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_l[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=gohana
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f0fba4609b099d57216b888937027996"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_lda[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/labels?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"21cd28523c71fb4f23ebffed572e420d"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/labels?id=1169162&include_ancestor_groups=true&page=1&per_page=100&with_counts=false>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/labels?id=1169162&include_ancestor_groups=true&page=1&per_page=100&with_counts=false>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '3'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '41'
      Ratelimit-Remaining:
      - '1959'
      Ratelimit-Reset:
      - '1652294666'
      Ratelimit-Resettime:
      - Wed, 11 May 2022 18:44:26 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-22-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"id":248628,"name":"Blocker","description":"I''m currently blocked,
        please send help.","description_html":"I''m currently blocked, please send
        help.","text_color":"#333333","color":"#a295d6","subscribed":false,"priority":null,"is_project_label":true},{"id":248627,"name":"Bug","description":"","description_html":"","text_color":"#FFFFFF","color":"#ff0000","subscribed":false,"priority":null,"is_project_label":true},{"id":252887,"name":"Don''t
        Drink and Code","description":"","description_html":null,"text_color":"#FFFFFF","color":"#ad8d43","subscribed":false,"priority":null,"is_project_label":true}]'
  recorded_at: Wed, 11 May 2022 18:43:26 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/members?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d18d0f7a50469559317d137937c9013e"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/members?id=1169162&page=1&per_page=20>;
        [...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/repository/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9ed93d04ea6d38bc68061635f26e68ce"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/repository/tags?id=1169162&order_by=updated&page=1&per_page=20&sort=desc>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/repository/tags?id=1169162&order_by=updated&page=1&per_page=20&sort=desc>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '3'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '42'
      Ratelimit-Remaining:
      - '1958'
      Ratelimit-Reset:
      - '1652294668'
      Ratelimit-Resettime:
      - Wed, 11 May 2022 18:44:28 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-09-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"release/with-slash","message":"","target":"f5279112babe38cd7673d5c6bde1fddad5b0548d","commit":{"id":"fc40f8230aab1a10e16c70b2706e2d2a6164eea0","short_id":"fc40f823","created_at":"2016-11-23T20:43:35.000+00:00","parent_ids":["3a1811f3cb96e9bc426f6ee3544a2cf4f7d5f3fd","75d5f1a0a3f8c07806512a647d16d60c4cd1c36f"],"title":"Merge
        branch ''merged-fork-pr'' into ''master''","message":"Merge branch ''merged-fork-pr''
        into ''master''\r\n\r\nMerged Fork PR\r\n\r\nSee merge request !7","author_name":"Kyle
        Macey","author_email":"shout@kylemacey.com","authored_date":"2016-11-23T20:43:35.000+00:00","committer_name":"Kyle
        Macey","committer_email":"shout@kylemacey.com","committed_date":"2016-11-23T20:43:35.000+00:00","trailers":{},"web_url":"https://gitlab.com/Mouse-Hack/hugo-pages/-/commit/fc40f8230aab1a10e16c70b2706e2d2a6164eea0"},"release":null,"protected":false},{"name":"v1.0.0","message":"version
        1.0.0 is shipping","target":"fb035ef85099a7d4066b1a80c8eae85123aae30c","commit":{"id":"3a1811f3cb96e9bc426f6ee3544a2cf4f7d5f3fd","short_id":"3a1811f3","created_at":"2016-05-10T22:15:31.000+00:00","parent_ids":["a7291a05bb99bb755cdcaceb76b4f3d7f24837d5","220d5dc2582a49d694c503abdb8cf25bcdd81dce"],"title":"Merge
        branch ''omniauth-login'' into ''master''","message":"Merge branch ''omniauth-login''
        into ''master''\r\n\r\nNeed some hu[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/milestones?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"08cf5e6907a7dd028a773a2c392c2d8f"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/milestones?id=1169162&include_parent_milestones=false&page=1&per_page=100&state=all>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/milestones?id=1169162&include_parent_milestones=false&page=1&per_page=100&state=all>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '2'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '43'
      Ratelimit-Remaining:
      - '1957'
      Ratelimit-Reset:
      - '1652294668'
      Ratelimit-Resettime:
      - Wed, 11 May 2022 18:44:28 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-15-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"id":363129,"iid":2,"project_id":1169162,"title":"Test","description":"","state":"closed","created_at":"2017-08-22T20:01:05.160Z","updated_at":"2017-08-22T20:01:41.498Z","due_date":null,"start_date":null,"expired":null,"web_url":"https://gitlab.com/Mouse-Hack/hugo-pages/-/milestones/2"},{"id":62677,"iid":1,"project_id":1169162,"title":"Prototype","description":"Just
        get the simplest thing working and out there for folks to try out.","state":"active","created_at":"2016-05-10T22:06:45.481Z","updated_at":"2016-05-10T22:06:45.481Z","due_date":"2020-04-20","start_date":null,"expired":true,"web_url":"https://gitlab.com/Mouse-Hack/hugo-pages/-/milestones/1"}]'
  recorded_at: Wed, 11 May 2022 18:43:28 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/repository/branches?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9e8c0d0b6d072d28c03def11a540a2c0"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/repository/branches?id=1169162&page=[...]
