---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/merge_requests/10/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/merge_requests/10/commits?id=1169162&merge_request_iid=10&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/merge_requests/10/commits?id=1169162&merge_request_iid=10&page=1&per_page=20>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 27 Aug 2017 21:09:28 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/merge_requests/10/commits?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/merge_requests/10/commits?id=1169162&merge_request_iid=10&page=1&per_page=100>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/merge_requests/10/commits?id=1169162&merge_request_iid=10&page=1&per_page=100>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"9ad16e6958ee794492c8f8f84d017cb6","version":"1"}'
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '10'
      Ratelimit-Remaining:
      - '1990'
      Ratelimit-Reset:
      - '1699051819'
      Ratelimit-Resettime:
      - Fri, 03 Nov 2023 22:50:19 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - haproxy-main-19-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 03 Nov 2023 22:49:20 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=synthead
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1698b5f8a2b510a8bc068b323ab7c4d7"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_external=false&ex[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/merge_requests/10/notes?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c3d51193420280cdc00d9e4c43214e5b"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/merge_requests/10/notes?activity_filter=all_notes&id=1169162&noteable_id=10&order_by=created_at&page=1&per_page=100&sort=desc>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/merge_requests/10/notes?activity_filter=all_notes&id=1169162&noteable_id=10&order_by=created_at&page=1&per_page=100&sort=desc>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"5fd2e74f09ae98d00038d71ede3ea75a","version":"1"}'
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '2'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '12'
      Ratelimit-Remaining:
      - '1988'
      Ratelimit-Reset:
      - '1699051820'
      Ratelimit-Resettime:
      - Fri, 03 Nov 2023 22:50:20 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - haproxy-main-17-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"id":36005564,"type":null,"body":"![image](/uploads/985f268ee941b49994d694f60b3e5203/image.png)","attachment":null,"author":{"id":1477621,"username":"synthead","name":"Maxwell
        Pray","state":"active","locked":false,"avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/1477621/avatar.png","web_url":"https://gitlab.com/synthead"},"created_at":"2017-07-26T17:34:57.572Z","updated_at":"2017-07-26T17:34:57.572Z","system":false,"noteable_id":4385181,"noteable_type":"MergeRequest","project_id":1169162,"resolvable":false,"confidential":false,"internal":false,"noteable_iid":10,"commands_changes":{}},{"id":36005529,"type":null,"body":"Test
        comment","attachment":null,"author":{"id":1477621,"username":"synthead","name":"Maxwell
        Pray","state":"active","locked":false,"avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/1477621/avatar.png","web_url":"https://gitlab.com/synthead"},"created_at":"2017-07-26T17:34:19.879Z","updated_at":"2017-07-26T17:34:19.879Z","system":false,"noteable_id":4385181,"noteable_type":"MergeRequest","project_id":1169162,"resolvable":false,"confidential":false,"internal":false,"noteable_iid":10,"commands_changes":{}}]'
  recorded_at: Fri, 03 Nov 2023 22:49:20 GMT
recorded_with: VCR 6.1.0
