---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/hackmouse%2Fexample-project
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"059d7c64b1e0245a02734c718c381928"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":1148906,"description":"This is an example project","default_branch":"master","tag_list":[],"public":true,"archived":false,"visibility_level":20,"ssh_url_to_repo":"git@gitlab.com:hackmouse/example-project.git","http_url_to_repo":"https://gitlab.com/hackmouse/example-project.git","web_url":"https://gitlab.com/hackmouse/example-project","name":"example-project","name_with_namespace":"Hack
        Mouse / example-project","path":"example-project","path_with_namespace":"hackmouse/example-project","issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"builds_enabled":true,"snippets_enabled":false,"created_at":"2016-05-04T18:07:59.301Z","last_activity_at":"2016-05-10T16:56:02.198Z","shared_runners_enabled":true,"creator_id":414903,"namespace":{"id":488675,"name":"Hack
        Mouse","path":"hackmouse","owner_id":null,"created_at":"2016-02-17T16:19:30.977Z","updated_at":"2016-02-17T18:15:05.721Z","description":"","avatar":{"url":null},"membership_lock":false,"share_with_group_lock":false,"visibility_level":20,"last_ldap_sync_at":null},"avatar_url":null,"star_count":0,"forks_count":0,"open_issues_count":1,"runners_token":"oPbCcGsvrVaSTdG2R_8N","public_builds":true,"permissions":{"project_access":null,"group_access":{"access_level":50,"notification_level":3}}}'
  recorded_at: Wed, 11 May 2016 17:19:41 GMT
recorded_with: VCR 3.0.1
