---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f99801088c3d7a4b4c7d778bc9601651"
      Link:
      - <https://gitlab.com/api/v3/projects/1169162/issues?id=1169162&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v3/projects/1169162/issues?id=1169162&page=1&per_page=20>;
        rel="last"
      Status:
      - 200 OK
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '5'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":2192031,"iid":5,"project_id":1169162,"title":"Don''t have a
        GitHub account","description":"I appreciate wanting to support logging in
        with GitHub but I don''t have a GitHub account and cannot legally sign up
        for one in my country due to my age unless I get my parents permission. See
        https://gitlab.com/Mouse-Hack/hugo-pages/issues/1 for more details.","state":"opened","created_at":"2016-05-10T22:20:29.872Z","updated_at":"2016-05-11T17:24:31.417Z","labels":["Blocker","Bug"],"milestone":{"id":62677,"iid":1,"project_id":1169162,"title":"Prototype","description":"Just
        get the simplest thing working and out there for folks to try out.","state":"active","created_at":"2016-05-10T22:06:45.481Z","updated_at":"2016-05-10T22:06:45.481Z","due_date":"2020-04-20"},"assignee":{"name":"Kyle
        Macey","username":"kylemacey","id":414903,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/kylemacey"},"author":{"name":"Jon
        Magic","username":"jonmagic","id":529946,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/7064ad438246a02809c85bcd92cb5f3f?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/jonmagic"},"subscribed":true},{"id":2191664,"iid":4,"project_id":1169162,"title":"Build
        the hugo site","description":"This is the job that #3 queued.\r\n\r\n* `git
        init`and `git remote add ...`\r\n* `git fetch origin hugo-pages gh-pages`\r\n*
        checkout hugo-pages\r\n* `hugo build` or whatever\r\n* push the build to the
        gh-pages branch with a  `.nojekyll` file.\r\n\r\n:boom: :camel: ","state":"opened","created_at":"2016-05-10T21:26:18.187Z","updated_at":"2016-05-10T22:15:35.935Z","labels":[...]
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/issues?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"00724b372de3f042c679fd771032a8c2"
      Link:
      - <https://gitlab.com/api/v3/projects/1169162/issues?id=1169162&page=1&per_page=100>;
        r[...]
