---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/repository/commits?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a2ec4a59ee3403ddb45e838af9829075"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/repository/commits?id=1169162&page=1&per_page=100>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/repository/commits?id=1169162&page=1&per_page=100>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '21'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":"fc40f8230aab1a10e16c70b2706e2d2a6164eea0","short_id":"fc40f823","title":"Merge
        branch ''merged-fork-pr'' into ''master''\r","created_at":"2016-11-23T20:43:35.000+00:00","parent_ids":["3a1811f3cb96e9bc426f6ee3544a2cf4f7d5f3fd","75d5f1a0a3f8c07806512a647d16d60c4cd1c36f"],"message":"Merge
        branch ''merged-fork-pr'' into ''master''\r\n\r\nMerged Fork PR\r\n\r\nSee
        merge request !7","author_name":"Kyle Macey","author_email":"shout@kylemacey.com","authored_date":"2016-11-23T20:43:35.000+00:00","committer_name":"Kyle
        Macey","committer_email":"shout@kylemacey.com","committed_date":"2016-11-23T20:43:35.000+00:00"},{"id":"75d5f1a0a3f8c07806512a647d16d60c4cd1c36f","short_id":"75d5f1a0","title":"Merged
        Fork PR","created_at":"2016-11-23T20:37:17.000+00:00","parent_ids":["3a1811f3cb96e9bc426f6ee3544a2cf4f7d5f3fd"],"message":"Merged
        Fork PR","author_name":"Kyle Macey","author_email":"shout@kylemacey.com","authored_date":"2016-11-23T20:37:17.000+00:00","committer_name":"Kyle
        Macey","committer_email":"shout@kylemacey.com","committed_date":"2016-11-23T20:37:[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/repository/commits/fc40f8230aab1a10e16c70b2706e2d2a6164eea0/comments?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"337ff2a0f6dfdd5c8d9f9610d6840097"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/repository/commits/fc40f8230aab1a10e16c70b2706e2d2a6164eea0/comments?id=1169162&page=1&per_page=100&sha=fc40f8230aab1a10e16c70b2706e2d2a6164eea0>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/repository/commits/fc40f8230aab1a10e16c70b2706e2d2a6164eea0/comments?id=1169162&page=1&per_page=100&sha=fc40f8230aab1a10e16c70b2706e2d2a6164eea0>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '3'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"note":"test commit comment. commit comment issue is : #7","path":null,"line":null,"line_type":null,"author":{"name":"Daniel
        Perez","username":"dpmex4527","id":1238984,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/47338cb6ea1c84bfd0bbafd6a1298f3d?s=80\u0026d=identicon","web_url":"https://gitlab.com/dpmex4527"},"created_at":"2017-04-20T14:52:00.903Z"},{"note":"test
        commit comment. commit comment merge request reference is !9 ","path":null,"line":null,"line_type":null,"author":{"name":"Daniel
        Perez","username":"dpmex4527","id":1238984,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/47338cb6ea1c84bfd0bbafd6a1298f3d?s=80\u0026d=identicon","web_url":"https://gitlab.com/dpmex4527"},"created_at":"2017-04-20T14:52:26.217Z"},{"note":"test
        commit comment. \r\n\r\nissue is #7 \r\nMR is !9 ","path":null,"line":null,"line_type":null,"author":{"name":"Daniel
        Perez","username":"dpmex4527","id":1238984,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/47338cb6ea1c84bfd0bbafd6a1298f3d?s=80\u0026d=identicon","web_url":"https://gitlab.com/dpmex4527"},"created_at":"2017-04-20T14:52:41.528Z"}]'
  recorded_at: Tue, 29 Aug 2017 04:37:37 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=dpmex4527
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"355bd64c43a4825a005162767eeeb709"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=dpmex4527>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=dpmex4527>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Daniel Perez","username":"dpmex4527","id":1238984,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/47338cb6ea1c84bfd0bbafd6a1298f3d?s=80\u0026d=identicon","web_url":"https://gitlab.com/dpmex4527"}]'
  recorded_at: Tue, 29 Aug 2017 04:37:38 GMT
[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=lizzhale
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3249c36c75bc4ef750124820b232d83b"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=lizzhale>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=lizzhale>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Lizz","username":"lizzhale","id":529949,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/d36cdb93d0f85b5d7b76a183834d4350?s=80\u0026d=identicon","web_url":"https://gitlab.com/lizzhale"}]'
  recorded_at: Tue, 29 Aug 2017 04:37:41 GMT
[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=jonmagic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ca6e9eab8324ba4eb25f7a78100dc4d6"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=jonmagic>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=jonmagic>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Jon Magic","username":"jonmagic","id":529946,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/7064ad438246a02809c85bcd92cb5f3f?s=80\u0026d=identicon","web_url":"https://gitlab.com/jonmagic"}]'
  recorded_at: Tue, 29 Aug 2017 04:37:53 GMT
recorded_with: VCR 3.0.3
