---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/issues/2191619/notes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6a4415c64769035882616dcbfdb7a2a0"
      Link:
      - <https://gitlab.com/api/v3/projects/1169162/issues/2191619/notes?id=1169162&issue_id=2191619&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v3/projects/1169162/issues/2191619/notes?id=1169162&issue_id=2191619&page=1&per_page=20>;
        rel="last"
      Status:
      - 200 OK
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '7'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":11760224,"body":"mentioned in issue #3","attachment":null,"author":{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/spraints"},"created_at":"2016-05-11T22:06:06.283Z","updated_at":"2016-05-11T22:06:06.283Z","system":true,"noteable_id":2191619,"noteable_type":"Issue","upvote":false,"downvote":false},{"id":11735604,"body":"Now
        #5 does!","attachment":null,"author":{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/spraints"},"created_at":"2016-05-10T22:26:00.520Z","updated_at":"2016-05-10T22:26:00.520Z","system":false,"noteable_id":2191619,"noteable_type":"Issue","upvote":false,"downvote":false},{"id":11735556,"body":"mentioned
[...]
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/issues/2191619/notes?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cc30e06fdabea1aa0152a73c18da7131"
      Link:
      - <https://gitlab.com/api/v3/projects/1169162/issues/2191619/notes?id=1169162&iss[...]
