---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6314485b5347cf88503eb5befb479096"
      Link:
      - <https://gitlab.com/api/v3/projects/1169162/hooks?id=1169162&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v3/projects/1169162/hooks?id=1169162&page=1&per_page=20>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '2'
      X-Total-Pages:
      - '1'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '16'
      Ratelimit-Remaining:
      - '584'
    body:
      encoding: UTF-8
      string: '[{"id":50704,"url":"http://requestb.in/v3fo7mv3","created_at":"2016-07-07T20:36:51.572Z","push_events":true,"tag_push_events":true,"repository_update_events":false,"enable_ssl_verification":false,"project_id":1169162,"issues_events":true,"merge_requests_events":true,"note_events":true,"pipeline_events":false,"wiki_page_events":true,"build_events":true},{"id":50703,"url":"http://requestb.in/1izuozf1","created_at":"2016-07-07T20:36:26.639Z","push_events":true,"tag_push_events":true,"repository_update_events":false,"enable_ssl_verification":true,"project_id":1169162,"issues_events":false,"merge_requests_events":false,"note_events":true,"pipeline_events":false,"wiki_page_events":false,"build_events":false}]'
  recorded_at: Thu, 21 Sep 2017 14:48:00 GMT
recorded_with: VCR 3.0.3
