---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/repository/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c9823055ac7dca63b68733ad8ecb7e6a"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1516377573'
      Ratelimit-Resettime:
      - Sat, 19 Jan 2018 15:59:33 GMT
    body:
      encoding: UTF-8
      string: '[{"name":"v1.0.0","message":"version 1.0.0 is shipping","commit":{"id":"3a1811f3cb96e9bc426f6ee3544a2cf4f7d5f3fd","short_id":"3a1811f3","title":"Merge
        branch ''omniauth-login'' into ''master''\r","created_at":"2016-05-10T22:15:31.000Z","parent_ids":["a7291a05bb99bb755cdcaceb76b4f3d7f24837d5","220d5dc2582a49d694c503abdb8cf25bcdd81dce"],"message":"Merge
        branch ''omniauth-login'' into ''master''\r\n\r\nNeed some hugo, more than
        #4\r\n\r\nBig changes\r\n\r\nSee merge request !1","author_name":"Matt","author_email":"spraints@gmail.com","authored_date":"2016-05-10T22:15:31.000Z","committer_name":"Matt","committer_email":"spraints@gmail.com","committed_date":"2016-05-10T22:15:31.000Z"},"release":null},{"name":"release/with-slash","message":"","commit":{"id":"fc40f8230aab1a10e16c70b2706e2d2a6164eea0","short_id":"fc40f823","title":"Merge
        branch ''merged-fork-pr'' into ''master''\r","created_at":"2016-11-23T20:43:35.000Z","parent_ids":["3a1811f3cb96e9bc426f6ee3544a2cf4f7d5f3fd","75d5f1a0a3f8c07806512a647d16d60c4cd1c36f"],"message":"Merge
        branch ''merged-fork-pr'' into ''master''\r\n\r\nMerged Fork PR\r\n\r\nSee
        merge request !7","author_name":"Kyle Macey","author_email":"shout@kylemacey.com","authored_date":"2016-11-23T20:43:35.000Z","committer_name":"Kyle
        Macey","committer_email":"shout@kylemacey.com","committed_date":"2016-11-23T20:43:35.000Z"},"release":null},{"name":"end-of-sinatra","message":"","commit":{"id":"1490680b9a193ff188eb0dff7281b29869c62937","short_id":"1490680b","title":"Choose
        my scopes","created_at":"2016-05-10T13:06:10.000Z","parent_ids":["27c44637e863f719c071d961ab42a6afc041e034"],"message":"Choose
        my scopes\n","author_name":"Matt Burke","author_email":"spraints@gmail.com","authored_date":"2016-05-10T13:06:10.000Z","committer_name":"Matt
        Burke","committer_email":"spraints@gmail.com","committed_date":"2016-05-10T13:06:10.000Z"},"release":{"tag_name":"end-of-sinatra","description":"This
        is the end of sinatra release.![IMG_1708](/uploads/78cf9f363723223e09785f812c732500/IMG_1708.jpg)"}}]'
  recorded_at: Fri, 19 Jan 2018 15:58:33 GMT
recorded_with: VCR 3.0.3
