---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/Mouse-Hack%2Fhugo-pages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"233e3bad482c80a8bed3aa0d41bb6a77"
    body:
      encoding: UTF-8
      string: '{"id":1169162,"description":"Wanna use something other than jekyll?
        Try this one weird trick. er, actually a bunch of tricks, glued together.","default_branch":"master","tag_list":[],"public":false,"archived":false,"visibility_level":0,"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/hugo-pages.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/hugo-pages.git","web_url":"https://gitlab.com/Mouse-Hack/hugo-pages","name":"hugo-pages","name_with_namespace":"Mouse-Hack
        / hugo-pages","path":"hugo-pages","path_with_namespace":"Mouse-Hack/hugo-pages","container_registry_enabled":null,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"builds_enabled":true,"snippets_enabled":false,"created_at":"2016-05-10T21:15:14.616Z","last_activity_at":"2017-04-11T16:32:58.403Z","shared_runners_enabled":true,"lfs_enabled":true,"creator_id":142189,"namespace":{"id":627189,"name":"Mouse-Hack","path":"Mouse-Hack","kind":"group","full_path":"Mouse-Hack"},"avatar_url":null,"star_count":0,"forks_count":1,"open_issues_count":5,"runners_token":"nbZkxy8zkQz8sjtFtWGW","public_builds":true,"shared_with_groups":[{"group_id":627189,"group_name":"Mouse-Hack","group_access_level":30}],"only_allow_merge_if_build_succeeds":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":null,"approvals_before_merge":0,"permissions":{"project_access":null,"group_access":{"access_level":50,"notification_level":3}}}'
  recorded_at: Tue, 11 Apr 2017 19:58:02 GMT
recorded_with: VCR 3.0.3
