---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/merge_requests
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e5db97be3ac920f33fd3fdb315e6b5d8"
      Link:
      - <https://gitlab.com/api/v3/projects/1169162/merge_requests?id=1169162&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v3/projects/1169162/merge_requests?id=1169162&page=1&per_page=20>;
        rel="last"
      Status:
      - 200 OK
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '3'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":479769,"iid":3,"project_id":1169162,"title":"Close this IMMEDIATELY","description":"![hubmojis-jglovier-angry](/uploads/b2dc4a70da2ae24bd6db89c16dbf0de9/hubmojis-jglovier-angry.gif)\r\n","state":"closed","created_at":"2016-05-11T22:59:36.326Z","updated_at":"2016-05-11T22:59:46.195Z","target_branch":"master","source_branch":"test-branch","upvotes":0,"downvotes":0,"author":{"name":"Kyle
        Macey","username":"kylemacey","id":414903,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/kylemacey"},"assignee":null,"source_project_id":1169162,"target_project_id":1169162,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_build_succeeds":false,"merge_status":"can_be_merged","subscribed":false},{"id":476834,"iid":2,"project_id":1169162,"title":"WIP:
        this one''ll really be about what the branch name says","description":"Please
        report this. To verizon. Or the NSA.","state":"reopened","created_at":"2016-05-10T22:20:29.649Z","updated_at":"2016-05-12T20:50:27.073Z","target_branch":"master","source_branch":"omniauth-login","upvotes":0,"downvotes":0,"author":{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/spraints"},"assignee":{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/spraints"},"source_project_id":1169162,"target_project_id":1169162,"labels":["Blocker","Don''t
        Drink and Code"],"work_in_progress":true,"milestone":{"id":62677,"iid":1,"project_id":1169162,"title":"Prototype","description":"Just
        get the simplest thing working and out there for folks to try out.","state":"active","created_at":"2016-05-10T22:06:45.481Z","updated_at":"2016-05-10T22:06:45.481Z","due_date":"2020-04-20"},"merge_when_build_succeeds":false,"merge_status":"can_be_merged","subscribed":true},{"id":476805,"iid":1,"project_id":1169162,"title":"Need
        some hugo, more than #4","description":"Big changes","state":"merged","created_at":"2016-05-10T22:01:00.181Z","updated_at":"2016-05-10T22:27:28.965Z","target_branch":"master","source_branch":"omniauth-login","upvotes":2,"downvotes":1,"author":{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/u/spraints"},"assignee":null,"source_project_id":1169162,"target_project_id":1169162,"labels":[],"work_in_progress":false,"milestone":{"id":62677,"iid":1,"project_id":1169162,"title":"Prototype","description":"Just
        get the simplest thing working and out there for folks to try out.","state":"active","created_at":"2016-05-10T22:06:45.481Z","updated_at":"2016-05-10T22:06:45.481Z","due_date":"2020-04-20"},"merge_when_build_succeeds":false,"merge_status":"can_be_merged","subscribed":true}]'
  recorded_at: Thu, 12 May 2016 21:32:34 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1169162/merge_requests?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a3cbfe7771af32ebf9275a70b621dc35"
      Link:
      - <https://gitlab.com/api/v3/projects/1169162/merge_requests?id=1169162&page=1&per_page[...]
